---
layout: default
title: Home
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>fac
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <article class="post">
        <header class="post-header">
            <h2 class="post-title">About me</h2>
        </header>
        <section class="post-content">
          <p>I'm Nildo. I am a student living in <a href="">Belo Horizonte</a>, Brazil. I am doing my Master's in Computer Science, at <a href="http://ufmg.br">UFMG</a>. I am advised by professor <a href="http://homepages.dcc.ufmg.br/~mmvieira">Marcos Vieira</a>. My research is in the area of Computer Networks and Embedded Systems. I am working on communication protocols for wireless cyber-physical systems. I have worked with protocols for multi-radio wireless sensor platforms. And I developed a dissemination protocol using a technique called Network Coding, which we published at the <a href="http://www.cs.ox.ac.uk/ewsn14/">European Wireless Sensor Networks Conference</a>, in 2014.</p>

          <p>I studied for one year at the <a href="http://berkeley.edu">University of California at Berkeley</a>, in the Fall 2013 and Spring 2014 semesters. I was participating in the Brazilian Scientific Mobility Program as a fully-funded scholarship recipient. In the Summer of 2014 I did an internship at <a href="https://www.taranawireless.com/">Tarana Wireless</a>, where I developed software for a new generation of wireless transport solution and designed and developed hardware tests on a embedded system's boot loader.</p>

          <p>After I finish my Master's, I am planning on getting into a PhD program. I want to become a good professor. I like creating new things, and I really like teaching. That's why I think it will be a perfect career for me.</p>
        </section>
    </article>

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="/projects.html">Projects &raquo;</a></h2>
        </header>
    </article>

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="/resume.html">Resume &raquo;</a></h2>
        </header>
    </article>

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="/blog/">Blog &raquo;</a></h2>
        </header>
    </article>

</main>
