@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.social-icons a {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.social-icons a:hover {
  text-decoration: none;
}
